*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#74ebd5,#9face6);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:350px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#4CAF50;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#45a049;
}

p{
    text-align:center;
    margin-top:15px;
}

a{
    display:block;
    text-align:center;
    margin-top:5px;
    text-decoration:none;
}.trip-table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

.trip-table th,
.trip-table td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

.trip-table th{
    background:#4CAF50;
    color:white;
}

.trip-table tr:nth-child(even){
    background:#f2f2f2;
}
