body {
  font-family: Arial;
  text-align: center;
  margin-top: 60px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 25px;
  background: white;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  width: 100%;
}

#error {
  color: red;
  font-size: 14px;
}
/* ===== REGISTER & LOGIN STYLES ===== */

.auth-container {
  width: 300px;
  margin: 100px auto;
  padding: 25px;
  background: white;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-container button:hover {
  background: darkgreen;
}

#msg, #error {
  font-size: 14px;
  color: red;
}
.logout-btn {
  margin-top: 20px;
  background: red;
  width: 100%;
}

.logout-btn:hover {
  background: darkred;
}

.input-section {
  margin-bottom: 15px;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: green;
  color: white;
}

button {
  margin: 2px;
  padding: 5px;
  cursor: pointer;
}
